
.section-pesquisa{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.div-ajuste{
    display: flex;
    border: solid;
    border-radius: 2rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff6e5;
    width: 70vw;
    height: 7vh;
}

.barra-pesquisa{
    background-color: #fff6e5;
    border: none;
    color: #eb8b47;
    padding-left: 1rem;
    font-size: 0.9rem;
}

.barra-pesquisa::placeholder{
    color: #eb8b47;
}

.barra-pesquisa:focus{
    outline: none;
}

.barra-pesquisa::-webkit-search-cancel-button {
    display: none;
  }

.icone{
    height: 3vh;
}

.lista-pai{
    margin-top: 3rem;
    flex-direction: column;
    margin-left: 1rem;
}

#Abacate{
    background-image: url(/Imagens/abacates.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;

}
#Abacate-b{
    font-size: 2rem;
    color: white;
}

#Abacaxi{
    background-image: url(/Imagens/abacaxi.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;
}
#Abacaxi-b{
    font-size: 2rem;
    color: white;    
}

#Abobora{
    background-image: url(/Imagens/abobora.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;    
}

#Abobora-b{
    font-size: 2rem;
    color: white;    
}

#Alcatra{
    background-image: url(/Imagens/alcatra.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;    
}

#Alcatra-b{
    font-size: 2rem;
    color: white;    
}

#Anchova{
    background-image: url(/Imagens/anchova.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;    
}

#Anchova-b{
    font-size: 2rem;
    color: white;    
}

#arroz{
    background-image: url(/Imagens/arroz_branco.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;    
}

#arroz-b{
    font-size: 1.8rem;
    color: grey;   
}


.lista-filho{
    border: solid 0.15rem;
    border-top: none;
    background-color: #fff6e5;
    height: 8vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.a-lista{
    text-decoration: none;
    color: white;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    font-weight: bold;

}


.texto-lista{
    width: 50vw;
}

@media (min-width: 1024px) {
    #main{
        display: flex;
        flex-direction: column;
    }

    .lista-filho{
        width: 50vw;
    }

    .texto-lista{
        width: 20vw;
    }

}