.titulo-seta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.5rem;
    font-size: larger;
    font-weight: bold;
    border-bottom: solid 0.1rem;
    padding-bottom: 1rem;
}
.a-seta{
    position: absolute;
    width: 100vw;
}

.seta{
    height: 3vh;
    padding-left: 1rem;
}

.lista-pai{
    margin-top: 1.5rem;

}

.lista-filho{
    list-style: none;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    border: solid;
    border-radius: 2rem;
    width: 92vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#fff6e5;
}



.texto-op{
    width: 70vw;
    color: #eb8b47;
    font-weight: bold;
    font-size: large;
}

.section-botao{
    display: flex;
    justify-content: center;
    margin-top: 0.1rem;
}

.check{
    cursor: pointer;
}

.lupa{
    max-width: 29px;
    max-height: 29px;
    padding-right: 1.1rem;
}

.b-busca{
    font-weight: bond;
    font-size: large;
}

.botao_buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 92vw;
    height: 5vh;
    background-color: #e0e0e0;
    border: solid black 2px;
    text-decoration: none;
    color: black;
}

@media (min-width: 1024px) {
    #main{
        display: flex;
        flex-direction: column;
    }

    .botao_buscar{
        width: 20vw;
    }

    .texto-op{
        width: 20vw;
    }

    .lista-filho{
        display: flex;
        width: 50vw;
        justify-content: space-around;
    }

    .titulo-seta{
        width: 100vw;
    }
}