#sections_tela_inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#novidades{
    margin-top: 3rem;
}

.Titulo_R_N{
    padding-left: 1rem;
    margin-bottom: 1rem;
    cursor:default;
    color: #222222;
    font-size: large;
    font-weight: bold;
}


.img_R_N{
    width: 90vw;
    height: auto;
    cursor: pointer;
    border-radius: 2rem;
    border: solid #222222;
}


@media (min-width: 1024px) {
    #sections_tela_inicial{
        display: flex;
        justify-content:space-evenly;
        align-items: baseline;
        height: 100vh;
    }

    .sections{
        margin-left: 9%;
    }

    .Titulo_R_N{
        font-size: 200%;
        padding-left: 0%;
    }

    .img_R_N{
        width: 40vw;
        height: 40vh;
        object-fit: cover;
    }

    #Receitas_da_semana,
    #novidades{
        margin-top: 13%;
    }

}



