.titulo-favorito{
    display: flex;
    margin-top: 35%;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.prato-favorito{
    border-radius: 2rem;
    margin-top: 6rem;
    width: 90vw;
    cursor: pointer;
}

.section-favoritos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    margin-top: 10%;
    position: relative;
   
}

.section-favoritos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    margin-top: 10%;
    position: relative;
   
}

.a-section{
    text-decoration: none;
    color: black;
}

.img-menor{
    max-width: 300px;
    max-height: 300px;
    border-radius: 5%;
    border: solid black;

}

.img-menor2{
    max-width: 300px;
    max-height: 300px;
    border-radius: 5%;
    border: solid black;

}

.img-estrela{
    position: absolute;
    left: 77%;
    top: -22%;
    max-width: 80px;
    max-height: 80px;
    
}

.img-estrela2{
    position: absolute;
    left: 77%;
    top: -22%;
    max-width: 80px;
    max-height: 80px;
    
}