#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.a-seta{
    position: fixed;
    margin-bottom: 65vh;
    width: 100vw;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.seta{
    height: 3vh;
}

.separador{
    display: flex;
    border: solid;
    margin-bottom: 1rem;
    border-radius: 2rem;
    background-color: #fff6e5;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

#titulo-item{
    border-top: solid;
    height: 9vh;
    margin-bottom: 3rem;
    background-color: #fff6e5;
    justify-content: center;
    font-weight: 700;
}

.input-item{
    width: 20vw;
    background-color: #fff6e5;
    border: none;
    font-size: large;
}

.input-item:focus{
    outline: none;
}

.input-item::placeholder{
    color: black;
}

.a-adicionar{
    margin-top: 2rem;
    display: flex;
    border: solid black;
    height: 5vh;
    width: 45vw;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: #eb8b47;
    text-decoration: none;
    background-color: #fff6e5;
}

@media (min-width: 1024px) {
    #main{
        display: flex;
        flex-direction: column;
    }

    .a-adicionar{
        width: 10vw;
    }

    .separador{
        width: 50vw;
    }


}