.section-prato-historico{
    margin-top: 6.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px black;
}
.seta{
    max-width: 29px;
    max-height: 29px;
}

.titulo-historico{
    font-size: 1.3rem;
    font-weight: bold;
    cursor: default;

}

.fav{
    cursor: pointer;
    max-width: 29px;
    max-height: 29px;
}

.lista-pai{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 2rem;
    width: 22rem;
    display: flex;
    flex-direction: column;

    
}

.a-texto{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.texto-historico{
    color: black;
    margin-bottom: 1rem;
    position: absolute;
    top: 1rem;
    left: 5%;
    color: #eb8b47;
}

.seta-li{
    position: absolute;
    right: 5%;
    top: 1rem;
    height: 2vh;
    transform: scaleX(-1);
}

.section-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.video-titulo{
    font-size: 1.3rem;
    font-weight: bold;
    color: #eb8b47;
}

.video{
    margin-top: 1rem;
    width: 92vw;
}

.lista-filho{
    background-color: #fff6e5;
    margin: 0.2rem;
    height: 3rem;
    border-radius: 2rem;
    border: solid 0.1rem black;
}
