.aux{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 92vw;
    margin-left: auto;
    margin-right: auto;    
}

.titulo-historico{
    font-size: 1.3rem;
    font-weight: bold;
    cursor: default;
    margin-right: 5rem;

}


.seta{
    max-width: 29px;
    max-height: 29px;
    margin-left: 1.5rem;
}

.section-prato-historico{
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: solid 1px black;
    
}






.section-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.video-titulo{
    font-size: 1.3rem;
    font-weight: bold;
    color: #eb8b47;
    margin-bottom: 0.5rem;
}

.video{
    border-radius: 0.5rem;
    width: 100%;
    border: solid black;
}
