#sections_tela_inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pesquisa_e_filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 90vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: solid;
    height: 40px;
    border-radius: 2rem;
}

.referencia_pesquisar,
.referencia_de_filtro{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.pesquisar,
.filtrar{
    width: 22%;
}

.barra_de_pesquisa{
    width: 200%;
    height: 30px;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #e0e0e0;
}

.opcoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    height: 30vh;
    justify-content: space-evenly;
    align-items: center;
    background-color:  #98c379;
}


.imagem-opcao{
    height: 9vh;
}


.coluna{
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    #sections_tela_inicial{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .pesquisa_e_filtro{
        margin-top: 4rem;
        width: 60vw;
    }

    .opcoes{
        width: 70vw;
        height: 50vh;
    }

    .imagem-opcao{
        height: 10vh;
        clip-path: circle(100%)
    }
}