#sections_tela_inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.pesquisa_e_filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 90vw;
    margin-bottom: 2rem;
    border: solid;
    height: 5vh;
    border-radius: 2rem;
    margin-top: 8rem;
}

.referencia_pesquisar,
.referencia_de_filtro{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.pesquisar,
.filtrar{
    width: 6vw;
}

.barra_de_pesquisa{
    height: 5vh;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #e0e0e0;
}

.opcoes{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 55vh;
    justify-content: center;
    align-items: center;
    background-color:  #98c379;
}


.imagem-opcao{
    height: 12vh;
    width: 25vw;
    border: solid 1px black;
    display: flex;
}


.coluna{
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    #sections_tela_inicial{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .pesquisa_e_filtro{
        margin-top: 4rem;
        width: 60vw;
    }

    .opcoes{
        width: 70vw;
        height: 50vh;
    }

    .imagem-opcao{
        height: 10vh;
        clip-path: circle(100%)
    }

    .opcoes{
        display: flex;
        flex-direction: row;
        width: 60vw;
        height: 55vh;
        justify-content: center;
        align-items: center;
        background-color:  #98c379;
    }
    
    
    .imagem-opcao{
        height: 12vh;
        width: 18vw;
        border: solid 1px black;
        display: flex;
    }

    .pesquisar,
    .filtrar{
        width: 2vw;
    }

    .pesquisa_e_filtro{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        width: 40vw;
        margin-bottom: 2rem;
        border: solid;
        height: 5vh;
        border-radius: 2rem;
        margin-top: 8rem;
    }
}