.titulo-seta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    font-size: larger;
    font-weight: bold;
    border-bottom: solid 1px;
    padding-bottom: 1rem;
}
.a-seta{
    position: absolute;
    width: 100vw;
}
 
.seta{
    height: 3vh;
    padding-left: 1rem;
}

.lista-pai{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-filho{
    list-style: none;
    border: solid;
    width: 80vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff6e5;
    margin-bottom: 1.8rem;
    cursor: pointer;
}
#frango{
    background-image: url(/projeto/Imagens/frango_grelhado.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;
}

#peixe{
    background-image: url(/projeto/Imagens/peixe_grelhado.png);
    background-position: center;
    background-size: 90vw auto;
    background-repeat: no-repeat;
}

#polvo{
    background-image: url(/projeto/Imagens/polvo_grelhado.png);
    background-position: center;
    background-size: 80vw auto;
    background-repeat: no-repeat;
}

.texto-op{
    color: #222222;
    font-weight: 900;
    font-size: large;
    position: relative;
    top: -60%;
    
}

.section-botao{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.check{
    cursor: pointer;
}

.lupa{
    height: 3vh;
}

.botao_buscar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 5vh;
    background-color: #fff6e5;
    border: solid black 2px;
    text-decoration: none;
    color: black;
}

@media (min-width: 1024px) {
    #main-resultados{
        display: flex;
        flex-direction: column;
    }

    .titulo-seta{
        width: 100vw;
    }
}