.sections{
    display: flex;
    margin-top: 23%;
    display:flow-root;
}

#novidades{
    margin-top: 5%;
}

.Titulo_R_N{
    padding-left: 2%;
    margin-bottom: 2%;
}

h1,
h2,
h3{
    cursor:default;
}


.img_R_N{
    width: 100vw;
    height: auto;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .sections{
        margin-left: 9%;
    }

    .Titulo_R_N{
        font-size: 200%;
        padding-left: 0%;
    }

    .img_R_N{
        width: 40vw;
        height: 40vh;
        object-fit: cover;
    }

    #Receitas_da_semana,
    #novidades{
        margin-top: 13%;
    }

}



