.divisórias{
    display: flex;
    margin-top: 23%;
    display:flow-root;
}

#novidades{
    margin-top: 5%;
}

.Titulo_R_N{
    /* border: solid; */
    border-bottom: none;
    padding-left: 2%;
    margin-bottom: 2%;
}

h1,
h2,
h3{
    cursor:default;
}


.img_R_N{
    width: 100vw;
    height: auto;
    /* border: solid; */
    cursor: pointer;
}



