*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(255, 255, 255);
}

header{
    align-items: center;
    width: 100%;
    height: 12%;
    position: fixed;
    background-color:  rgba(0, 143, 40, 0.966);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.logo{
    height: 9%;
    position: fixed;
    margin-right: 80%;
}

.perfil{
    filter: invert(100%);
    height: auto;
    width: 28%;
    position: fixed;
    margin-left: 80%;
    cursor: pointer;
}

h1{ 
    color: white;
    font-size: 200%;
    padding-top: 0.6%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
}

.divisórias_tela_inicial{
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.divisórias{
    display: flex;
    margin-top: 35%;
    display:flow-root;
}

#novidades{
    margin-top: 5%;
}

.Titulo_R_N{
    /* border: solid; */
    border-bottom: none;
    padding-left: 2%;
    margin-bottom: 2%;
}



.img_R_N{
    width: 100%;
    height: auto;
    /* border: solid; */
    
}



nav{
    align-items: center;
    flex-direction: row;
    background-color:  rgba(0, 143, 40, 0.966);
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
}



.casa,
.estrela,
.relogio,
.dispensa,
.livro{
   filter: invert(100%);
   cursor: pointer;
   height:37%;
   
    
}




