#main-receitas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

.div-seta{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4vh;
    margin-bottom: 22%;
    border-bottom:solid 1px;
    padding-bottom: 1rem;
}

.titulo-receitas{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.a-seta{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    position: fixed;
} 

.seta{
    height: 4vh;
}



.lista-filtros{
    list-style: none;
    border: solid;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    width: 93vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff6e5;
}

.a_filtros{
    color: #222222;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.texto-opcoes{
    width: 75vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}





.seta-filtros{
    height: 2vh;
    transform: scaleX(-1);
}


.figure-filtro{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .lista-filtros{
        list-style: none;
        border: solid;
        width: 60vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#fff6e5;
    }

    .texto-opcoes{
        width: 20vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}